<?php
/*
 * @package AJAX_Chat
 * @author Sebastian Tschan
 * @author Philip Nicolcev
 * @author Stephan Frank
 * @copyright (c) Sebastian Tschan
 * @license Modified MIT License
 * @link https://blueimp.net/ajax/
 */

#==============================================================================
#	AJAX Chat config parameters:
#==============================================================================

/*
 * Database connection values:
 */
// Database hostname:
$dbConnection['host'] = 'localhost';
// Database username:
$dbConnection['user'] = 'root';
// Database password:
$dbConnection['pass'] = 'password';
// Database name:
$dbConnection['name'] = 'chat';
// Database type:
$dbConnection['type'] = null;
// Database charset:
$dbConnection['link'] = null;

// Database table names:
$dbTableNames['online']			= 'ajax_chat_online';
$dbTableNames['messages']		= 'ajax_chat_messages';
$dbTableNames['bans']			= 'ajax_chat_bans';
$dbTableNames['invitations']	= 'ajax_chat_invitations';

/*
 * Configurations:
 */
// The Integrations Directory src/AjaxChat/Integrations/*
// Standard = 'standalone' (* e.g. 'phpbb3', will be integrate with phpBB):
$integration = 'standalone';
// Available languages:
$langAvailable = [
	'ar', 'bg', 'ca', 'cy', 'cz', 'da', 'de', 'el', 'en', 'es', 'et', 'fa', 'fi', 'fr', 'gl', 'he', 'hr', 'hu', 'in', 'it', 'ja', 'ka', 'kr', 'mk', 'nl', 'nl-be', 'no', 'pl', 'pt-br', 'pt-pt', 'ro', 'ru', 'sk', 'sl', 'sr', 'sv', 'th', 'tr', 'uk', 'zh', 'zh-tw',
];
// Default language:
$langDefault = 'en';
// Language names (each languge code in available languages must have a display name assigned here):
$langNames = [
	'ar' => 'عربي', 'bg' => 'Български', 'ca' => 'Català', 'cy' => 'Cymraeg', 'cz' => 'Česky', 'da' => 'Dansk', 'de' => 'Deutsch', 'el' => 'Ελληνικα', 'en' => 'English',
	'es' => 'Español', 'et' => 'Eesti', 'fa' => 'فارسی', 'fi' => 'Suomi', 'fr' => 'Français', 'gl' => 'Galego', 'he' => 'עברית', 'hr' => 'Hrvatski', 'hu' => 'Magyar', 'in' => 'Bahasa Indonesia', 'it' => 'Italiano',
	'ja' => '日本語', 'ka' => 'ქართული', 'kr' => '한 글', 'mk' => 'Македонски', 'nl' => 'Nederlands', 'nl-be' => 'Nederlands (België)', 'no' => 'Norsk', 'pl' => 'Polski', 'pt-br' => 'Português (Brasil)', 'pt-pt' => 'Português (Portugal)',
	'ro' => 'România', 'ru' => 'Русский', 'sk' => 'Slovenčina', 'sl' => 'Slovensko', 'sr' => 'Srpski', 'sv' => 'Svenska', 'th' => '&#x0e20;&#x0e32;&#x0e29;&#x0e32;&#x0e44;&#x0e17;&#x0e22;',
	'tr' => 'Türkçe', 'uk' => 'Українська', 'zh' => '中文 (简体)', 'zh-tw' => '中文 (繁體)',
];

// Available styles:
$styleAvailable = ['beige', 'black', 'grey', 'Oxygen', 'Lithium', 'Sulfur', 'Cobalt', 'Mercury', 'Uranium', 'Pine', 'Plum', 'prosilver', 'Core', 'Curve', 'MyBB', 'vBulletin', 'XenForo'];
// Default style:
$styleDefault = 'prosilver';

// The encoding used for the XHTML content:
$contentEncoding = 'UTF-8';
// The encoding of the data source, like userNames and channelNames:
$sourceEncoding = 'UTF-8';
// The content-type of the XHTML page (e.g. 'text/html', will be set dependent on browser capabilities if set to null):
$contentType = null;

// Session name used to identify the session cookie:
$sessionName = 'ajax_chat';
// Prefix added to every session key:
$sessionKeyPrefix = 'ajaxChat';
// The lifetime of the language, style and setting cookies in days:
$sessionCookieLifeTime = 365;
// The path of the cookies, '/' allows to read the cookies from all directories:
$sessionCookiePath = '/';
// The domain of the cookies, defaults to the hostname of the server if set to null:
$sessionCookieDomain = null;
// If enabled, cookies must be sent over secure (SSL/TLS encrypted) connections:
$sessionCookieSecure = null;
// SameSite prevents the browser from sending this cookie along with cross-site requests.
// The main goal is to mitigate the risk of cross-origin information leakage. It also provides
// some protection against cross- site request forgery attacks.Possible values for the flag are none, lax, or strict:
$sessioncookieSamesite = 'Lax';

// Default channelName used together with the defaultChannelID if no channel with this ID exists:
$defaultChannelName = 'Public';
// ChannelID used when no channel is given:
$defaultChannelID = 0;
// Defines an array of channelIDs (e.g. [0, 1]) to limit the number of available channels, will be ignored if set to null:
$limitChannelList = null;

// UserID plus this value are private channels (this is also the max userID and max channelID):
$privateChannelDiff = 500000000;
// UserID plus this value are used for private messages:
$privateMessageDiff = 1000000000;

// Enable/Disable private Channels:
$allowPrivateChannels = true;
// Enable/Disable private Messages:
$allowPrivateMessages = true;

// Private channels should be distinguished by either a prefix or a suffix or both (no whitespace):
$privateChannelPrefix = '[';
// Private channels should be distinguished by either a prefix or a suffix or both (no whitespace):
$privateChannelSuffix = ']';

// If enabled, users will be logged in automatically as guest users (if allowed); if not authenticated:
$forceAutoLogin = false;

// Defines if login/logout and channel enter/leave are displayed:
$showChannelMessages = true;

// If enabled, the chat will only be accessible for the admin:
$chatClosed = false;

// Defines the timezone offset in seconds (-12*60*60 to 12*60*60) - if null, the server timezone is used:
$timeZoneOffset = null;
// Defines the hour of the day the chat is opened (0 - closingHour):
$openingHour = null;
// Defines the hour of the day the chat is closed (openingHour - 24):
$closingHour = null;
// Defines the weekdays the chat is opened (0=Sunday to 6=Saturday):
$openingWeekDays = [0, 1, 2, 3, 4, 5, 6];

// Enable/Disable guest logins:
$allowGuestLogins = true;
// Enable/Disable write access for guest users - if disabled, guest users may not write messages:
$allowGuestWrite = true;
// Allow/Disallow guest users to choose their own userName:
$allowGuestUserName = true;

// Shoutbox Enable/Disable guest:
// Enable/Disable write access for guest users in the Shoutbox - if disabled, guest redirect to Chat login:
$allowGuestAccessShoutbox = false;

// Guest users should be distinguished by either a prefix or a suffix or both (no whitespace):
$guestUserPrefix = '(';
// Guest users should be distinguished by either a prefix or a suffix or both (no whitespace):
$guestUserSuffix = ')';
// Guest userIDs may not be lower than this value (and not higher than privateChannelDiff):
$minGuestUserID = 400000000;

// Allow/Disallow users to change their userName (Nickname):
$allowNickChange = true;
// Changed userNames should be distinguished by either a prefix or a suffix or both (no whitespace):
$changedNickPrefix = '(';
// Changed userNames should be distinguished by either a prefix or a suffix or both (no whitespace):
$changedNickSuffix = ')';

// Allow/Disallow registered users to delete their own messages:
$allowUserMessageDelete = true;

// The userID used for ChatBot messages:
$chatBotID = 2147483647;
// The userName used for ChatBot messages
$chatBotName = 'ChatBot';

// Minutes until a user is declared inactive (last status update) - the minimum is 2 minutes:
$inactiveTimeout = 2;
// Interval in minutes to check for inactive users:
$inactiveCheckInterval = 5;

// Defines if messages are shown which have been sent before the user entered the channel:
$requestMessagesPriorChannelEnter = true;
// Defines an array of channelIDs (e.g. [0, 1]) for which the previous setting is always true (will be ignored if set to null):
$requestMessagesPriorChannelEnterList = null;
// Max time difference in hours for messages to display on each request:
$requestMessagesTimeDiff = 24;
// Max number of messages to display on each request:
$requestMessagesLimit = 10;

// Max users in chat (does not affect moderators or admins):
$maxUsersLoggedIn = 100;
// Max userName length:
$userNameMaxLength = 16;
// Max messageText length:
$messageTextMaxLength = 1040;
// Defines the max number of messages a user may send per minute:
$maxMessageRate = 20;

// Defines the default time in minutes a user gets banned if kicked from a moderator without ban minutes parameter:
$defaultBanTime = 5;

// Argument that is given to the handleLogout JavaScript method:
$logoutData = './?logout=true';
#'logoutData' = 'http://localhost/mypm/';

// If true, checks if the user IP is the same when logged in:
$ipCheck = true;

// Defines the max time difference in hours for logs when no period or search condition is given:
$logsRequestMessagesTimeDiff = 1;
// Defines how many logs are returned on each logs request:
$logsRequestMessagesLimit = 10;

// Defines the earliest year used for the logs selection:
$logsFirstYear = 2024;

// Defines if old messages are purged from the database:
$logsPurgeLogs = true;
// Max time difference in days for old messages before they are purged from the database:
$logsPurgeTimeDiff = 1;

// Defines if registered users (including moderators) have access to the logs (admins are always granted access):
$logsUserAccess = false;
// Defines a list of channels (e.g. [0, 1]) to limit the logs access for registered users, includes all channels the user has access to if set to null:
$logsUserAccessChannelList = null;
